extends ../layouts/base

append vars
	- title = 'О нас';
	
block header
	+header(class='is-fixed')
block content
	+b.about
		+e.main.about-main__
			+e.wrap.wrap
				+e.content
					+e.H2.title.h2 Verein
					+e.subtitle.subtitle.color-orange
						strong UNSER LERNKONZEPT
					+e.desc.content
						p
							| Das Konzept und die Methode von SG MEVIS wurden speziell für Erwachsene entwickelt, daher bieten wir ein umfassendes Programm an, mit dem Erwachsene Schwimmkenntnisse aller Niveaus erwerben können.
						p
							| Unserem Konzept gemäß werden beim Erlernen jedes neuen Schwimmstils neue Muskelgruppen eingesetzt und ein neuer Atmungstyp erlernt. Dadurch können alle Muskeln des Körpers maximale Arbeit leisten und der Körpertonus insgesamt wird durch das richtige Atmen und ausgewogene Belastungen erhöht.
				+e.list.flex
					+e.item
						+e.item-icon
							img(src="/app/img/happy.svg")
						+e.item-text
							| Die Entwicklung bzw. Förderung bei den KursteilnehmerInnen der Freude am Wasser und am Schwimmen
					+e.item
						+e.item-icon
							img(src="/app/img/flower.svg")
						+e.item-text
							| Körperliches und psychisches Wohlbefinden durch intensive Bewegung im Wasser
					+e.item
						+e.item-icon
							img(src="/app/img/biceps.svg")
						+e.item-text
							| Entwickeln von motorischen Grundeigenschaften wie Ausdauer, Schnelligkeit und Koordinationsfähigkeit
		+e.special.about-special__
			+e.wrap.wrap
				+e.row.flex._justify
					+e.column._left
						+e.content.content
							p
								| In unserem Unterricht verwenden wir beim Erlernen eines neuen Schwimmstils spezielle Formeln. Dabei handelt es sich um von uns erarbeitete kurze Texte, die der Kursteilnehmer beim Ausführen der Schwimmbewegungen vor sich hin spricht. Mit Hilfe dieser Formeln wird die Abfolge der Bewegungen und – besonders wichtig – die richtige Taktung des Atmungszyklus eingeübt. Zusätzlich verhindert die Konzentration auf die Formeln normalerweise das Aufkommen von Unsicherheit oder Angst im Wasser. So wird das Zentralnervensystem des Schwimmlernenden auf die richtige und dem Schwimmstil entsprechende Arbeit des Körpers im Wasser eingestimmt.
						+e.A.preview.js-zoom(href="/app/img/about__img.jpg")
							img.object-fit(src="/img/about__img.jpg")
					+e.column._right
						+e.H2.title
							| Beim Schwimm spezielle Formeln
						+e.content.content
							p
								| Die ersten Formeln sind «anwendungsorientiert», die weiteren sind «herleitend», die restlichen sind «professionell». Man nimmt die nächste Formel bei jedem Stil nur dann auf, wenn der Kursteilnehmer/die Kursteilnehmerin die aktuelle Formel verinnerlicht und den jeweiligen Kontrolltest erfolgreich abgelegt hat. Je nach Schwimmstil existieren zwischen drei und acht Formeln, die von den Lernenden nacheinander erlernt werden. Am Ende steht die Beherrschung aller Schwimmstile auf professionellem Niveau.
		+e.certificate.about-certificate__
			+e.wrap.wrap
				+e.row.flex._justify._vertical
					+e.column._left
						+e.H2.title.h2 Lehrmethode des Autors
						+e.desc.p
							| Der europäische Club "MEVIS" hat ein Patent für die Methode des Autors, Schwimmen für Erwachsene zu unterrichten.
						+e.subtitle.subtitle.color-orange
							strong Dies unterscheidet uns von anderen Clubs!
					+e.column._right
						+e.A.preview.js-zoom(href="/app/img/serti_big.jpg")
							img.object-fit(src="/img/serti_min.jpg")
		+e.programs.about-programs__
			+e.wrap.wrap
				+e.H2.title.h3 Unser Lernkonzept, das zum angstfreien Schwimmen führt, umfasst folgende Erfahrungsstufen
				+e.list
					+e.item
						+e.item-head
							+e.H3.item-title.h3 Anfänger
							+e.item-name.subtitle.color-orange
								strong Start
						+e.item-content.content
							p
								| Im Grundkurs werden den Kursteilnehmern die Grundlagen des Brustschwimmens vermittelt. Der Kurs umfasst 10 Unterrichtseinheiten. Zunächst wird in grundlegende Übungen dem angehenden Schwimmer die Angst vor dem Wasser genommen. Ziel erster Übungen ist das Eintauchen des Kopfes. In einem weiteren Schritt kommt das Anziehen und Ausstrecken der Beine hinzu, sodass der Körper kurz auf dem Wasser liegt (Schweben); danach die Rückkehr in den aufrechten Stand. Dadurch erfährt der Schwimmlerner unmittelbar, dass der Körper auch ohne Bewegung durch Auftrieb auf der Wasseroberfläche liegt. Dadurch gewinnt der Schwimmlernende erste Sicherheit im Wasser und sein Nervensystem wird nicht mehr mit Abwehr auf die ungewohnte Situation reagieren.
							p
								| Weitere einfache Übungen vermitteln bereits Grundelemente der Schwimmtechnik, beispielsweise Bewegungen von Armen, Beinen und Grundtechniken der Atmung. Das Zusammenfügen und die Koordination solcher Einzelelemente erfolgt als Steigerung in mehreren Schritten. Am Ende des Kurses steht die korrekte Ausführung der Brustschwimmtechnik auf einer Schwimmstrecke von 25 Metern ohne Stopps.
					+e.item
						+e.item-head
							+e.H3.item-title.h3 Schwimmkurse für Menschen mit Schwimmkenntnissen, die ihre Technik verbessern wollen
							+e.item-name.subtitle.color-orange
								strong Level 1-5
						+e.item-content.content
							p
								| Zunächst: Festigung der Brustschwimm-Technik, Schwimmen längerer Strecken im Tiefwasser (Tiefe bis 3 Meter) – bis zu 300 m. Zusätzlich: Erlernen der Grundlagen für Kraul- und Schmetterlingsschwimmen (Butterfly), später auch Rückenschwimmen. Diese werden im Weiteren vervollkommnet. In den höheren Levels kommen auch Hilfsmittel – Handbretter, Pull Buoy, Schwimmflossen – zum Einsatz, um z. B. eine zusätzliche Arm- oder Beinbelastung zu trainieren oder das Geschwindigkeitsgefühl im Wasser zu schulen.
					+e.item
						+e.item-head
							+e.H3.item-title.h3 Sporttrainings und Triathlon-Vorbereitung
							+e.item-name.subtitle.color-orange
								strong Level 6-12 
						+e.item-content.content
							p
								| In den höheren Fortgeschrittenen-Levels steht die Vervollkommnung von Kraul-, Schmetterlings-, Brust- und Rückenschwimmen im Vordergrund, um Freistilschwimmen von Distanzen von 400 m bis 800 m zu trainieren. Dazu wird die professionelle Freistilformel für den Kraulstil erlernt, die beidseitiges Atmen ermöglicht. Der Schwimmer/die Schwimmerin erlernt die beiden wichtigsten Formen der Wende (Rollwende und Kippwende). Die Schwimmübungen schließen Hilfsmitteln ein (Pull buoy, Handpaddeln, Flossen und Schwimmbrett). Die durchschnittliche Trainingsstrecke beträgt zwischen 1100 m (Level 7) und steigert sich allmählich bis 1800 m (Level 12).
			+e.registration.flex._justify._vertical
				+e.wrap.wrap
					+e.registration-title.subtitle.color-orange
						strong Lernen Sie als Erwachsener angstfrei und sicher schwimmen!
					+btn(class="_orange js-modal", href="#popup-form") Anmeldung