extends ../layouts/base

append vars
	- title = 'Главная';
	
block header
	+header(class='is-fixed')
block content
	.dark-blue-bg
		+b.SECTION.main
			+e.wrap.wrap
				+e.H1.title.h2
					| Mevis Europäische 
					br
					| Schwimmgemeinschaft
				+e.subtitle.subtitle.color-orange 
					strong Schwimmkurse für Erwachsene
				+e.buttons.flex._center
					+btn(class="_orange", href="#") Anmeldung
					+btn(class="_border-white js-modal", href="#popup-form") Online bezahlen
				+e.bottom.flex._center
					+e.bottom-text.p Vom Anfänger zum Profi
			+e.A.arrow.js-scroll-to(href="#schwimmen")
		include ../layouts/swimming
		+b.SECTION.main-cards
			+e.head
				+e.wrap.wrap
					+e.H2.large-title.large-title.stroke Siegen
			+e.wrap.wrap
				+e.row.flex._justify
					+e.column._left
						+e.list.flex
							+e.item.card__
								+e.inside
									+e.top
										+e.H3.title.h3.color-orange Anfänger
										+e.desc.p18
											| Schwimmkurse für Anfänger. 
											br
											| Lerne in kurzer Zeit richtig zu schwimmen
									+e.center
										+e.time.p18
											strong
												| 8 Trainings 
												br
												| à 60 Minuten
									+e.bottom
										+btn(class="_border-orange", href="#") More details
										+e.level.p18 Start
							+e.item.card__
								+e.inside
									+e.top
										+e.H3.title.h3.color-orange Fortgeschritten
										+e.desc.p18
											| Schwimmkurse für Menschen mit Schwimmkenntnissen, die ihre Technik verbessern wollen.
									+e.center
										+e.time.p18
											strong
												| 8 Trainings 
												br
												| à 45 Minuten
									+e.bottom
										+btn(class="_border-orange", href="#") More details
										+e.level.p18 Level 1 - 5
							+e.item.card__
								+e.inside
									+e.top
										+e.H3.title.h3.color-orange Kraul Kurs
										+e.desc.p18
											| Sporttrainings und Triathlon-Vorbereitung. 
											br
											| 50 m Bahn.
									+e.center
										+e.time.p18
											strong
												| 8 Trainings 
												br
												| à 45 Minuten
									+e.bottom
										+btn(class="_border-orange", href="#") More details
										+e.level.p18 Level 6 - 12
							+e.item.card__
								+e.inside
									+e.top
										+e.H3.title.h3.color-orange Einzelunterricht und Mini-Gruppen
										+e.desc.p18
											| Besuch nach Vereinbarung. 
											br
											| Von ein bis drei Personen.
									+e.center
										+e.time.p18
											strong
												| 8 Trainings 
												br
												| à 45 Minuten
									+e.bottom
										+btn(class="_border-orange", href="#") More details
										+e.level.p18 Kostenlose Lektionen
					+e.column._right
						+e.sidebar
							+e.sidebar-title.h2 Kursangebot
							+e.sidebar-desc.p18
								| In unseren Schwimmkursen lernen Sie die gängigsten Schwimmstile: Brustschwimmen, Kraul, Schmetterling, Rückenschwimmen.
							//- +btn(class="_border-white", href="#") Kurse zeigen
		include ../layouts/quiz
		+b.maps
			+e.map.js-state
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.148906220943!2d13.4698433161633!3d52.53073997981614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e7e141353cd%3A0xe8a323b013c43ab!2sSchwimmhalle%20Anton-Saefkow-Platz%20-%20Berliner%20B%C3%A4der!5e0!3m2!1sru!2sua!4v1606323052096!5m2!1sru!2sua' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
			+e.map.js-state
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.276413668273!2d13.356740716163273!3d52.52843287981572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85198ee7e54b1%3A0x8246e4556328062!2sStadtbad%20Tiergarten%20-%20Berliner%20B%C3%A4der!5e0!3m2!1sru!2sua!4v1606323589537!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")