+b.modals-video.modals-center.mfp-hide#popup-video
	iframe
+b.modals-form.modals-center.mfp-hide#recall
+b.modals-thank.modals-center.mfp-hide#thank
	+e.body
		+e.icon
			+icon('check')
		+e.title.h2 Erfolg
		+e.desc.p
			| Ihre Bewerbung wurde erfolgreich gesendet.
			br
			| Wir werden Sie in Kürze kontaktieren.
	+e.bottom
		+btn(class="_orange js-close-modal") Vorgehen