+b.quiz
	+e.bg
	+e.wrap.wrap
		+e.inside
			+e.H3.title.h3
				| Erzählen Sie uns von sich und wir finden ein passendes 
				span.color-orange Programm für Sie
			+e.first.js-quiz-first
				+e.list
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich kann überhaupt nicht schwimmen")
							+e.icon
							+e.text.p24
								| Ich kann überhaupt nicht schwimmen
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich kann schwimmen, aber ich mache es zögernd")
							+e.icon
							+e.text.p24
								| Ich kann schwimmen, aber ich mache es zögernd
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich möchte meine Gesundheit durch Schwimmen verbessern", checked)
							+e.icon
							+e.text.p24
								| Ich möchte meine Gesundheit durch Schwimmen verbessern
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
							+e.icon
							+e.text.p24
								| Ich schwimme gut, aber ich möchte meine Technik verbessern
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
							+e.icon
							+e.text.p24
								| Vorbereitung auf Open-Water-Wettbewerbe, 
								| Suche nach einem Schwimmtrainer
			+e.variants
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
			+e.bottom.flex
				+e.back.js-quiz-back
					+btn(class="_border-white") Zurück
				+e.next.js-quiz-next
					+btn(class="_border-orange", data-href="#form") Vonstatten
		+e.FORM.form.form__._big#form(action="/app/mail")
			+e.inside
				+e.title.h3 Hinterlasse eine Anfrage
				+e.row.flex
					+e.column._col3
						+field(type="text", placeholder="Ihr Nachname", name="name", required)
					+e.column._col3
						+field(type="number", placeholder="Ihre Telefon", name="phone", pattern="[0-9]*", inputmode="numeric", required)
					+e.column._col3
						+select('Unterrichtszeit auswählen')(class="_border")
							+e.item.js-select-item(data-value="Unterrichtszeit auswählen") Unterrichtszeit auswählen
							+e.item.is-active.js-select-item(data-value="Будни 7:00 - 10:00") Будни 7:00 - 10:00
							+e.item.js-select-item(data-value="Будни 18:00 - 21:00") Будни 18:00 - 21:00
							+e.item.js-select-item(data-value="Выходные") Выходные
					+e.column._big
						+e.field.field__
							+e.TEXTAREA.textarea.js-quiz-textarea(name="mess", placeholder="Ihre Anfrage / Ihre Mitteilung")
				+e.LABEL.checkbox.checkbox__
					+e.INPUT.input(type="checkbox", name="accept", required)
					+e.icon
						+icon('check')
					+e.text.p16
						| Ich bin mit der Verarbeitung 
						a(href="#") personenbezogener Daten 
						| einverstanden
				+e.bottom.flex._center
					+btn('submit')(class="_orange") Beantragen