+b.quiz
	+e.bg
	+e.wrap.wrap
		+e.inside
			+e.H3.title.h3
				| Erzählen Sie uns von sich und wir finden ein passendes 
				span.color-orange Programm für Sie
			+e.first.js-quiz-first
				+e.list
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich kann überhaupt nicht schwimmen")
							+e.icon
							+e.text.p24
								| Ich kann überhaupt nicht schwimmen
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich kann schwimmen, aber ich mache es zögernd")
							+e.icon
							+e.text.p24
								| Ich kann schwimmen, aber ich mache es zögernd
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich möchte meine Gesundheit durch Schwimmen verbessern", checked)
							+e.icon
							+e.text.p24
								| Ich möchte meine Gesundheit durch Schwimmen verbessern
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
							+e.icon
							+e.text.p24
								| Ich schwimme gut, aber ich möchte meine Technik verbessern
					+e.item.js-quiz-item
						+e.LABEL.radio.radio__
							+e.INPUT.input.js-quiz-radio.js-quiz-input(type="radio", name="question-1", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
							+e.icon
							+e.text.p24
								| Vorbereitung auf Open-Water-Wettbewerbe, 
								| Suche nach einem Schwimmtrainer
			+e.variants
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
				+e.variant.js-quiz-variant
					+e.list
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann überhaupt nicht schwimmen")
								+e.icon
								+e.text.p24
									| Ich kann überhaupt nicht schwimmen
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich kann schwimmen, aber ich mache es zögernd")
								+e.icon
								+e.text.p24
									| Ich kann schwimmen, aber ich mache es zögernd
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich möchte meine Gesundheit durch Schwimmen verbessern")
								+e.icon
								+e.text.p24
									| Ich möchte meine Gesundheit durch Schwimmen verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Ich schwimme gut, aber ich möchte meine Technik verbessern")
								+e.icon
								+e.text.p24
									| Ich schwimme gut, aber ich möchte meine Technik verbessern
						+e.item
							+e.LABEL.radio.radio__
								+e.INPUT.input.js-quiz-input(type="checkbox", name="question", value="Vorbereitung auf Open-Water-Wettbewerbe, Suche nach einem Schwimmtrainer")
								+e.icon
								+e.text.p24
									| Vorbereitung auf Open-Water-Wettbewerbe, 
									| Suche nach einem Schwimmtrainer
			+e.bottom.flex
				+e.back.js-quiz-back
					+btn(class="_border-white") Zurück
				+e.next.js-quiz-next
					+btn(class="_border-orange", data-href="#form") Vonstatten
		