+b.SECTION.swimming#schwimmen
	+e.first-section
		+e.wrap.wrap
			+e.H2.large-title.large-title.stroke Schwimmen
			+e.about.js-slider-single.js-slider(
					data-settings=`{
						"smartSpeed": 500,
						"items": 1,
						"center": false,
						"nav": false,
						"dots": false,
						"responsive": {
							"0": {
								"dots": true
							},
							"580": {
								"dots": false
							}
						}
					}`)
				+e.about-slide
					+e.about-row.flex._justify
						+e.about-left
							+e.about-content.content
								h3
									| Wir bringen Ihnen das 
									span.color-orange richtige Schwimmen 
									| bei
								p
									| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
								p
									| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
						+e.about-right
							+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
								+e.preview
									+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
								+e.play
									+icon('play')
				+e.about-slide
					+e.about-row.flex._justify
						+e.about-left
							+e.about-content.content
								h3
									| Wir bringen Ihnen das 
									span.color-orange richtige Schwimmen 
									| bei
								p
									| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
								p
									| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
						+e.about-right
							+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
								+e.preview
									+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
								+e.play
									+icon('play')
				+e.about-slide
					+e.about-row.flex._justify
						+e.about-left
							+e.about-content.content
								h3
									| Wir bringen Ihnen das 
									span.color-orange richtige Schwimmen 
									| bei
								p
									| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
								p
									| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
						+e.about-right
							+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
								+e.preview
									+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
								+e.play
									+icon('play')
				+e.about-slide
					+e.about-row.flex._justify
						+e.about-left
							+e.about-content.content
								h3
									| Wir bringen Ihnen das 
									span.color-orange richtige Schwimmen 
									| bei
								p
									| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
								p
									| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
						+e.about-right
							+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
								+e.preview
									+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
								+e.play
									+icon('play')
				+e.about-slide
					+e.about-row.flex._justify
						+e.about-left
							+e.about-content.content
								h3
									| Wir bringen Ihnen das 
									span.color-orange richtige Schwimmen 
									| bei
								p
									| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
								p
									| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
						+e.about-right
							+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
								+e.preview
									+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
								+e.play
									+icon('play')
				+e.about-slide
					+e.about-row.flex._justify
						+e.about-left
							+e.about-content.content
								h3
									| Wir bringen Ihnen das 
									span.color-orange richtige Schwimmen 
									| bei
								p
									| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
								p
									| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
						+e.about-right
							+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
								+e.preview
									+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
								+e.play
									+icon('play')
			+e.about-bottom.flex._vertical
				+e.nav.js-about-nav.owl-nav
				+e.preview-list.js-slider-nav.js-slider(
					data-settings=`{
						"smartSpeed": 500,
						"items": 3,
						"center": false,
						"nav": true,
						"dots": false,
						"navContainer": ".js-about-nav",
						"responsive": {
							"0": {
								"autoWidth": true,
								"margin": 20
							},
							"580": {
								"autoWidth": false,
								"items": 2,
								"margin": 20
							},
							"769": {
								"items": 3,
								"margin": 30
							}
						}
					}`)
					+e.preview.js-slider-preview
						+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
					+e.preview.js-slider-preview
						+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
					+e.preview.js-slider-preview
						+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
					+e.preview.js-slider-preview
						+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
					+e.preview.js-slider-preview
						+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
					+e.preview.js-slider-preview
						+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
	+e.features
		+e.features-bg
		+e.features-wrap.wrap
			+e.features-row.flex
				+e.features-item
					+e.features-title.h2.color-orange 25 000 
					+e.features-desc.p
						strong
							| erwachsene ehemalige Nichtschwimmer geschafft.
				+e.features-item
					+e.features-box
						+e.features-top
							+e.features-icon
								+icon('quality')
						+e.features-desc.p
							strong
								| Unser eigens 
								br
								| entwickeltes Lernkonzept
				+e.features-item
					+e.features-title.h2.color-orange seit 1999
					+e.features-desc.p
						strong
							| bietet SG Mevis Schwimmkurse 
							br
							| speziell für Erwachsene an. 
	+e.training
		+e.training-wrap.wrap
			+e.H2.training-title.large-title.stroke Lehren
			+e.training-row.flex._justify
				+e.training-column._left
					+e.training-content.content
						h3
							| Effizienter und ausgewogener 
							span.color-orange Übungskomplex 
							| wurde speziell für Erwachsene erarbeitet
				+e.training-column._right
					+e.training-content.content
						p
							| Im Mittelpunkt unseres Ansatzes stehen die Überwindung von Ängsten und der Erwerb von Selbstvertrauen bei der koordinierten Bewegung im Wasser. Dies erreichen wir, indem wir den Lernenden schnell Erfolgserlebnisse ermöglichen. Unser effizienter und ausgewogener Übungskomplex wurde speziell für Erwachsene erarbeitet. Angeleitet werden die Kurse durch freundliche Trainerkräfte mit langjähriger Erfahrung. Weiterhin bieten wir auch Workshops und Wettkämpfe an.