+b.SECTION.swimming
	+e.wrap.wrap
		+e.H2.large-title.large-title.stroke Schwimmen
		+e.about.js-slider-single.js-slider(
				data-settings=`{
					"smartSpeed": 500,
					"items": 1,
					"center": false,
					"nav": false,
					"dots": false,
					"responsive": {
						"0": {
							"dots": true
						},
						"580": {
							"dots": false
						}
					}
				}`)
			+e.about-slide
				+e.about-row.flex._justify
					+e.about-left
						+e.about-content.content
							h3
								| Wir bringen Ihnen das 
								span.color-orange richtige Schwimmen 
								| bei
							p
								| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
							p
								| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
					+e.about-right
						+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
							+e.preview
								+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
							+e.play
								+icon('play')
			+e.about-slide
				+e.about-row.flex._justify
					+e.about-left
						+e.about-content.content
							h3
								| Wir bringen Ihnen das 
								span.color-orange richtige Schwimmen 
								| bei
							p
								| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
							p
								| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
					+e.about-right
						+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
							+e.preview
								+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
							+e.play
								+icon('play')
			+e.about-slide
				+e.about-row.flex._justify
					+e.about-left
						+e.about-content.content
							h3
								| Wir bringen Ihnen das 
								span.color-orange richtige Schwimmen 
								| bei
							p
								| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
							p
								| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
					+e.about-right
						+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
							+e.preview
								+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
							+e.play
								+icon('play')
			+e.about-slide
				+e.about-row.flex._justify
					+e.about-left
						+e.about-content.content
							h3
								| Wir bringen Ihnen das 
								span.color-orange richtige Schwimmen 
								| bei
							p
								| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
							p
								| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
					+e.about-right
						+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
							+e.preview
								+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
							+e.play
								+icon('play')
			+e.about-slide
				+e.about-row.flex._justify
					+e.about-left
						+e.about-content.content
							h3
								| Wir bringen Ihnen das 
								span.color-orange richtige Schwimmen 
								| bei
							p
								| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
							p
								| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
					+e.about-right
						+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
							+e.preview
								+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
							+e.play
								+icon('play')
			+e.about-slide
				+e.about-row.flex._justify
					+e.about-left
						+e.about-content.content
							h3
								| Wir bringen Ihnen das 
								span.color-orange richtige Schwimmen 
								| bei
							p
								| Gehören Sie auch zu den Menschen, die seit langem davon träumen, endlich entspannt und richtig schwimmen zu können?
							p
								| Mit unserem Lernkonzept bieten wir Ihnen einen leichten Einstieg, der Ihre Ängste und Hemmungen abbaut und Sie schnell voranbringt. 
					+e.about-right
						+e.video.video__.js-modal(data-modal='#popup-video', data-youtube='https://www.youtube.com/embed/RdREK6-7ubA')
							+e.preview
								+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
							+e.play
								+icon('play')
		+e.about-bottom.flex._vertical
			+e.nav.js-about-nav.owl-nav
			+e.preview-list.js-slider-nav.js-slider(
				data-settings=`{
					"smartSpeed": 500,
					"items": 3,
					"center": false,
					"nav": true,
					"dots": false,
					"navContainer": ".js-about-nav",
					"responsive": {
						"0": {
							"autoWidth": true,
							"margin": 20
						},
						"580": {
							"autoWidth": false,
							"items": 2,
							"margin": 20
						},
						"769": {
							"items": 3,
							"margin": 30
						}
					}
				}`)
				+e.preview.js-slider-preview
					+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
				+e.preview.js-slider-preview
					+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
				+e.preview.js-slider-preview
					+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")
				+e.preview.js-slider-preview
					+e.IMG.preview-img.object-fit(src="/img/preview1.jpg")
				+e.preview.js-slider-preview
					+e.IMG.preview-img.object-fit(src="/img/preview2.jpg")
				+e.preview.js-slider-preview
					+e.IMG.preview-img.object-fit(src="/img/preview3.jpg")