.mfp-bg{
	background: rgba(0, 19, 43, 0.51);
	opacity: 0;
	transition: ease .7s;
	&.mfp-ready {
		opacity: 1;
	}
	&.mfp-removing {
		opacity: 0;
	}
}
.mfp-counter{
	display: none;
}

.mfp-image-holder {
	background: rgba(0, 19, 43, 0.51);
}

.mfp-content{
	@extend .clear;
}


.mfp-container {
	padding: 0 15px;
}

.mfp-gallery{
	.mfp-container{
		padding: 0 15px;	
	}

	.mfp-figure{
		position: relative;
	}

	.modals__close{
		z-index: 9999;
	}

	figure{
		position: relative;
	}
}

.mfp-figure {
	max-height: 90vh;
	.modals__close {
		right: -12rem;
		top: -50rem;
		background: none;
		fill: #fff;
		border: 0;
		width: 48rem;
	}
	img.mfp-img {
		max-height: 90vh;
	}
}

.modals{
	margin: auto;
	position: relative;
	&__close {
		width: 56rem;
		height: 56rem;
		fill: #fff;
		position: absolute;
		z-index: 15;
		right: 5rem;
		top: 5rem;
		cursor: pointer;
		@include max-screen($large_mobile) {
			width: 50rem;
			right: 0;
			top: 0;
		}
	}
	&-video {
		max-width: 1170rem;
		height: 570rem;
		margin: auto;
		position: relative;
		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
		
		.modals__close {
			width: 46rem;
			height: 46rem;
			top: -45rem;
			right: -8rem;
		}
		
		@include max-screen($large_mobile) {
			height: 320px;
		}
	}
	
	&-thank {
		width: 100%;
		max-width: 490rem;
		border-radius: 20rem;
		overflow: hidden;
		position: relative;
		margin: auto;
		background: $dark-blue;
		border: 1px solid rgba(0, 87, 146, 0.2);
		text-align: center;
		
		&__body {
			background: url(/img/thank__bg.svg) 0 0 no-repeat;
			background-size: 100% auto;
			padding: 50rem 20rem 40rem 20rem;
			color: #fff;
		}
		&__icon {
			width: 134rem;
			height: 134rem;
			fill: $orange;
			margin: 0 auto 7rem auto;
		}
		
		&__desc {
			margin-top: 35rem;
			color: $gray;
		}
		
		&__bottom {
			padding: 35rem 0;
			background: #fff;
		}
	}
	
	&__arrow {
		position: absolute;
		top: 50%;
		margin-top: -30rem;
		z-index: 50000!important;
		width: 80rem;
		height: 70rem;
		border-radius: 50rem;
		transition: ease .2s;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		fill: #fff;;
		background-color: $blue;
		background-repeat: no-repeat;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 34rem 34rem;
		border: 0;
		cursor: pointer;

		&_left {
			left: 30px;
			padding-right: 3rem;
			background-image: url(/img/chevron_big_left.svg);
		}

		&_right {
			right: 30px;
			padding-left: 3rem;
			background-image: url(/img/chevron_big_right.svg);
			svg {
				transform: rotate(180deg);
			}
		}
		
		@include max-screen($large_mobile) {
			width: 56px;
			height: 46px;
			border-radius: 28px;
			background-size: 22px 22px!important;
			svg {
				width: 22px;
				height: 22px;
			}
			&_left {
				left: 20px;
			}
			&_right {
				right: 20px;
			}
		}
	}
}

.modals-center {
	transform: translateY(25rem);
	opacity: 0;
	transition: ease .3s;
}

img.mfp-img {
	padding: 0;
}

.css-modal-animate{
	// start state

	overflow: hidden;

	.modals__arrow{
		opacity: 0;
	}

	.modals, .mfp-figure{
		transition: all .5s ease; 
		opacity: 0;

		&_right{
			
			transform: translate(25rem, 0);
		}

		&_center{
			transform: translate(0rem, 25rem);
		}
	}

	// animate in
	&.mfp-ready{
		.modals__arrow{
			opacity: 1;
		}
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
		
		.modals-center {
			opacity: 1;
			transform: translateY(0);
		}
	}

	// animate out
	&.mfp-removing{
		.modals__arrow{
			opacity: 0;
		}
		.modals, .mfp-figure{
			opacity: 0;

			&_right{
				transform: translate(25rem, 0);
			}

			&_center{
				transform: translate(0rem, 25rem);
			}
		}
		.modals-center {
			opacity: 0;
			transform: translateY(-30px);
		}
	}

	@include max-screen($small_tablet) {
		.modals, .mfp-figure{
			transform: translate(0, 0)!important;
		}
	}
}