.mfp-bg{
	background: rgba(0, 19, 43, 0.51);
	opacity: 0;
	transition: ease .7s;
	&.mfp-ready {
		opacity: 1;
	}
	&.mfp-removing {
		opacity: 0;
	}
}
.mfp-counter{
	display: none;
}

.mfp-image-holder {
	background: rgba(0, 19, 43, 0.51);
}

.mfp-content{
	@extend .clear;
}


.mfp-container {
	padding: 0 15px;
}

.modals{
	margin: auto;
	position: relative;
}

img.mfp-img {
	padding: 0;
}

.css-modal-animate{
	// start state

	overflow: hidden;

	.modals__arrow{
		opacity: 0;
	}

	.modals, .mfp-figure{
		transition: all .5s ease;
		opacity: 0;

		&_right{

			transform: translate(25rem, 0);
		}

		&_center{
			transform: translate(0rem, 25rem);
		}
	}

	// animate in
	&.mfp-ready{
		.modals__arrow{
			opacity: 1;
		}
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
		
		.modals-right {
			transform: translateX(0);
			opacity: 1;
		}
		
		.modals-apartment {
			opacity: 1;
			transform: translateY(0);
			transition-delay: .2s;
		}
		
		.modals-form {
			transform: translateX(0);
		}
	}

	// animate out
	&.mfp-removing{
		.modals__arrow{
			opacity: 0;
		}
		.modals, .mfp-figure{
			opacity: 0;

			&_right{
				transform: translate(25rem, 0);
			}

			&_center{
				transform: translate(0rem, 25rem);
			}
		}
		.modals-right {
			transform: translateX(100%);
			opacity: 0;
		}
		.modals-apartment {
			opacity: 0;
			transform: translateY(-30px);
		}
		.modals-form {
			transform: translateX(100%);
		}
	}

	@include max-screen($small_tablet) {
		.modals, .mfp-figure{
			transform: translate(0, 0)!important;
		}
	}
}