.owl {
	&-nav {
		display: flex;
		&.is-dark {
			.owl {
				&-prev, &-next {
					fill: $black;
					&:hover {
						background: rgba(45, 55, 72, 0.1);
					}
				}
			}
		}
	}
	&-prev, &-next {
		width: 82rem;
		height: 71rem;
		border-radius: 50rem;
		transition: ease .2s;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		fill: #fff;
		background: none;
		border: 0;
		cursor: pointer;
		svg {
			width: 34rem;
			height: 34rem;
		}
		
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
	}
	
	&-next {
		margin-left: 30rem;
		padding-left: 3rem;
	}
	
	&-prev {
		padding-right: 3rem;
	}
	
	&-progress {
		height: 1px;
		background: #F1F1F1;
		&-bar {
			height: 1px;
			background: #000;
			transition: ease .2s;
		}
	}
	
	&-stage {
		display: flex;
	}
	
	&-item {
		float: none;
	}
	
	&-dots {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&-dot {
		width: 10px;
		height: 10px;
		background: rgba(255, 255, 255, 0.07)!important;
		border-radius: 100%;
		&:not(:last-child) {
			margin-right: 10px;
		}
		&.active {
			background: rgba(255, 255, 255, 0.2)!important;
		}
	}
	
	&-counter {
		text-align: center;
		font-size: 16px;
		&-current {
			font-size: 24px;
			font-weight: 500;
			margin-right: 2px;
		}
	}
	
	@include max-screen($large_mobile) {
		&-prev, &-next {
			width: 56px;
			height: 46px;
			border-radius: 28px;
			background: rgba(255, 255, 255, 0.1);
			svg {
				width: 22px;
				height: 22px;
			}
		}
		&-nav {
			&.is-dark {
				.owl {
					&-prev, &-next {
						background: rgba(45, 55, 72, 0.1);
					}
				}
			}
		}
	}
}

.owl-carousel .owl-item {
	float: none;
}