.main {
	min-height: 100vh;
	padding: 100rem 0 135rem 0;
	display: flex;
	align-items: center;
	text-align: center;
	//background: url(/img/main__bg.jpg) top no-repeat;
	background: linear-gradient(180deg, #00204A -13%, rgba(0, 32, 74, 0) 15.73%), linear-gradient(0deg, #00204A 1.18%, rgba(0, 32, 74, 0.76) 12.82%, rgba(0, 32, 74, 0) 22.45%), linear-gradient(0deg, rgba(0, 32, 74, 0.6), rgba(0, 32, 74, 0.6)), linear-gradient(0deg, #00204A, #00204A), url(/img/main__bg.jpg);
	background-blend-mode: normal, normal, normal, lighten, normal;
	background-size: cover;
	background-position: center;
	position: relative;
	
	&__subtitle {
		margin-top: 20rem;
	}
	
	&__arrow {
		position: absolute;
		left: 50%;
		bottom: 60rem;
		width: 60rem;
		height: 60rem;
		background: url(/img/scrolldown.svg) 0 0 no-repeat;
		background-size: 100% 100%;
		margin-left: -30rem;
		animation: scrollDown 2s infinite ease-in-out;
	}
	
	&__bottom {
		margin-top: 80rem;
		overflow: hidden;
		&-text {
			font-weight: 500;
			position: relative;
			
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				width: 150rem;
				height: 1px;
				background: $orange;
			}
			&:before {
				right: 100%;
				margin-right: 20rem;
			}
			&:after {
				left: 100%;
				margin-left: 20rem;
			}
		}
	}
	
	&__buttons {
		margin-top: 80rem;
	}
	
	&__btn {
		&:not(:last-child) {
			margin-right: 30rem;
		}
	}
	
	@include max-screen($small_mobile) {
		background: none!important;
		padding: 120rem 0 100rem 0;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 95%;
			display: block;
			background: url(/img/main__bg2.jpg) top no-repeat;
			background-size: auto 100%;
		}
		&__buttons {
			margin-top: 60px;
		}
		&__bottom {
			text-align: right;
			justify-content: flex-end;
			margin-top: 80px;
			overflow: visible;
			&-text {
				font-size: 16px;
				line-height: 130%;
				font-style: italic;
				overflow: visible;
				font-weight: normal;
				&:before, &:after {
					display: none;
				}
			}
		}
	}
}