.maps {
	margin-top: -90rem;
	&__map {
		width: 100%;
		height: 680rem;
		position: relative;
		&:not(:first-child) {
			display: none;
		}
		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		.gm-style .place-card-large {
			display: none!important;
		}
	}
	
	@include max-screen($large_desktop) {
		margin-top: 80rem;
		&__map {
			height: 600rem;
		}
	}
	
	@include max-screen($large_mobile) {
		&__map {
			height: 500rem;
		}
	}
}